{
  "extends": "standard",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-unused-expressions": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  }
}
